name: Luacheck

on: [ push, pull_request ]

jobs:

  luacheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Luacheck
        uses: lunarmodules/luacheck@v1
